.header {
  margin: 3rem 0;

  .subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0.7;
  }

  .main-title {
    font-size: 3rem;
    font-weight: 410;

    &.line-height-sm {
      line-height: 0.7;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .text-small {
      font-size: 0.9rem;
      opacity: 0.5;
    }
  }
}

// Font Classes
.font-primary {
  font-family: 'Cormorant Garamond', serif;
}
.font-secondary {
  font-family: 'Roboto', sans-serif;
}

// Fade In Animation
.fade-in {
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Fade Out
.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
}

// Gallery Card
.gallery-item-card {
  color: $black;

  .image-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;

    &:before {
      display: block;
      content: '';
      padding-top: 75%;
      width: 100%;
    }

    .card-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.8s ease-in-out;
    }
  }

  .card-title {
    font-size: 0.8rem;
    font-weight: 510;
    padding-left: 2rem;
  }

  .card-description {
    font-size: 2rem;
    font-weight: 410;
    padding-left: 2rem;
  }

  &:hover {
    .card-image {
      transform: scale(1.04);
    }
  }
}

// Disable scroll when nav is active
.nav-active {
  overflow: hidden;
}

// Responsive Media Queries
@media (min-width: 720px) {
  .nav-active {
    overflow: scroll;
  }

  .header .header-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      left: 50%;
      top: -50%;
      width: 1px;
      height: 200%;
      background: $black;
      transform: rotate(45deg);
    }

    .subtitle,
    .main-title {
      font-family: 'Cormorant Garamond', serif;
      font-size: 1.9rem;
      font-weight: 510;
      opacity: 1;
      width: 40%;
    }

    .main-title {
      margin-left: auto;
      margin-top: 2rem;
      font-weight: 410;
    }
  }
}

@media (min-width: 960px) {
  .header .header-wrapper {
    .subtitle,
    .main-title {
      font-weight: 510;
    }

    .subtitle {
      font-size: 3.5rem;
    }
    .main-title {
      font-size: 2.5rem;
      font-weight: 410;
    }
  }
}

@media (min-width: 1140px) {
  .gallery-item-card .card-description {
    font-size: 2.5rem;
    font-weight: 510;
  }

  .header .header-wrapper {
    padding: 0 5rem;

    .subtitle {
      font-size: 4rem;
    }
    .main-title {
      font-size: 3rem;
    }
  }
}

@media (min-width: 1450px) {
  .header .header-wrapper {
    padding: 0 8rem;

    .subtitle {
      font-size: 4.5rem;
    }
    .main-title {
      font-size: 3.5rem;
    }
  }
}
