@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

@media (min-width: 540px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 720px) {
  .container {
    padding: 0 25px;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1140px) {
  .container {
    padding: 0 80px;
  }
}

.main-nav {
  position: relative;
  z-index: 1000;
}

.main-nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.main-nav .nav-wrapper .navbar-brand {
  width: 150px;
  transition: all 0.2s ease-in-out;
}

.main-nav .nav-wrapper .navbar-brand:hover {
  opacity: 0.5;
}

.main-nav .nav-wrapper .navbar-brand.active svg {
  transition: all 0.3s ease-in-out;
  fill: #fefefe;
}

.main-nav .nav-wrapper .navbar-links {
  z-index: -1;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  transition: opacity 0.3s ease-in-out;
}

.main-nav .nav-wrapper .navbar-links.active {
  visibility: visible;
  opacity: 1;
}

.main-nav .nav-wrapper .navbar-links .navbar-link {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main-nav .nav-wrapper .navbar-links .navbar-link .navbar-link-item {
  color: #fefefe;
}

.main-nav .nav-wrapper .navbar-menu-toggle {
  width: 20px;
  height: 20px;
  position: relative;
  background: none;
  border: none;
  outline: none;
}

.main-nav .nav-wrapper .navbar-menu-toggle:before, .main-nav .nav-wrapper .navbar-menu-toggle:after {
  position: absolute;
  left: 0;
  content: '';
  height: 2px;
  width: 100%;
  background: #0a0a0a;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transform-origin: center;
}

.main-nav .nav-wrapper .navbar-menu-toggle:before {
  transform: translateY(-5px);
}

.main-nav .nav-wrapper .navbar-menu-toggle:after {
  transform: translateY(5px);
}

.main-nav .nav-wrapper .navbar-menu-toggle.active:before {
  transform: rotate(45deg);
  background: #fefefe;
}

.main-nav .nav-wrapper .navbar-menu-toggle.active:after {
  transform: rotate(-45deg);
  background: #fefefe;
}

@media (min-width: 720px) {
  .navbar-menu-toggle {
    display: none;
  }
  .main-nav .nav-wrapper {
    padding: 2rem 0;
  }
  .main-nav .nav-wrapper .navbar-brand.active svg {
    fill: #0a0a0a;
  }
  .main-nav .nav-wrapper .navbar-links {
    opacity: 1;
    visibility: visible;
    position: inherit;
    min-height: auto;
    width: auto;
    background: none;
    z-index: 0;
  }
  .main-nav .nav-wrapper .navbar-links .navbar-links-wrapper {
    display: flex;
  }
  .main-nav .nav-wrapper .navbar-links .navbar-links-wrapper .navbar-link {
    margin-bottom: 0;
    margin-left: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight: 710;
  }
  .main-nav .nav-wrapper .navbar-links .navbar-links-wrapper .navbar-link .navbar-link-item {
    color: #0a0a0a;
    position: relative;
  }
  .main-nav .nav-wrapper .navbar-links .navbar-links-wrapper .navbar-link .navbar-link-item:after {
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 101%;
    background: #0a0a0a;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .main-nav .nav-wrapper .navbar-links .navbar-links-wrapper .navbar-link .navbar-link-item:hover:after {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@media (min-width: 1040px) {
  .main-nav .nav-wrapper .navbar-brand {
    width: 200px;
  }
  .main-nav .nav-wrapper .navbar-links .navbar-link .navbar-link-item {
    font-size: 1.1rem;
  }
}

.main-footer {
  background: #0a0a0a;
  color: #fefefe;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.main-footer .footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.main-footer .footer-wrapper .footer-header {
  width: 200px;
  justify-self: center;
  grid-column: span 2;
  margin-bottom: 3rem;
}

.main-footer .footer-wrapper .footer-header svg {
  fill: #fefefe;
}

.main-footer .footer-wrapper .footer-box {
  font-weight: 510;
}

.main-footer .footer-wrapper .footer-box .footer-title {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.main-footer .footer-wrapper .footer-box .footer-list-item {
  margin-bottom: 0.5rem;
}

.main-footer .footer-wrapper .footer-bottom {
  grid-column: span 2;
}

.footer-link {
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
}

.footer-link:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fefefe;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover:after {
  opacity: 0;
}

.footer-list.social-links-list {
  display: flex;
}

.footer-list.social-links-list .footer-list-item {
  margin-right: 1rem;
  font-size: 2rem;
  transition: opacity 0.2s ease;
}

.footer-list.social-links-list .footer-list-item:hover {
  opacity: 0.5;
}

.footer-list.social-links-list .footer-list-item .social-link {
  color: #fefefe;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom-list .footer-bottom-list-item {
  font-size: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.footer-bottom-list .footer-bottom-list-item .footer-link {
  font-size: 0.7rem;
}

@media (min-width: 720px) {
  .main-footer .footer-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-footer .footer-wrapper .footer-header {
    grid-column: span 3;
    width: 300px;
  }
  .main-footer .footer-wrapper .footer-bottom {
    grid-column: span 3;
  }
}

@media (min-width: 1140px) {
  .main-footer .footer-wrapper {
    gap: 3rem;
  }
  .main-footer .footer-wrapper .footer-box .footer-title {
    font-size: 1.2rem;
  }
  .main-footer .footer-wrapper .footer-box .footer-list .footer-list-item {
    font-size: 1.2rem;
  }
  .main-footer .footer-wrapper .footer-box .footer-list .footer-list-item .social-link {
    font-size: 2rem;
  }
  .main-footer .footer-wrapper .footer-box .footer-list .footer-list-item .footer-link {
    font-size: 1.2rem;
  }
  .main-footer .footer-wrapper .footer-bottom .footer-bottom-list-item {
    font-size: 1rem;
  }
  .main-footer .footer-wrapper .footer-bottom .footer-link {
    font-size: 0.8rem;
  }
}

.header {
  margin: 3rem 0;
}

.header .subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  opacity: 0.7;
}

.header .main-title {
  font-size: 3rem;
  font-weight: 410;
}

.header .main-title.line-height-sm {
  line-height: 0.7;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.header .main-title .text-small {
  font-size: 0.9rem;
  opacity: 0.5;
}

.font-primary {
  font-family: 'Cormorant Garamond', serif;
}

.font-secondary {
  font-family: 'Roboto', sans-serif;
}

.fade-in {
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.gallery-item-card {
  color: #0a0a0a;
}

.gallery-item-card .image-wrapper {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.gallery-item-card .image-wrapper:before {
  display: block;
  content: '';
  padding-top: 75%;
  width: 100%;
}

.gallery-item-card .image-wrapper .card-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}

.gallery-item-card .card-title {
  font-size: 0.8rem;
  font-weight: 510;
  padding-left: 2rem;
}

.gallery-item-card .card-description {
  font-size: 2rem;
  font-weight: 410;
  padding-left: 2rem;
}

.gallery-item-card:hover .card-image {
  transform: scale(1.04);
}

.nav-active {
  overflow: hidden;
}

@media (min-width: 720px) {
  .nav-active {
    overflow: scroll;
  }
  .header .header-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    position: relative;
    overflow: hidden;
  }
  .header .header-wrapper:before {
    position: absolute;
    content: '';
    left: 50%;
    top: -50%;
    width: 1px;
    height: 200%;
    background: #0a0a0a;
    transform: rotate(45deg);
  }
  .header .header-wrapper .subtitle,
  .header .header-wrapper .main-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.9rem;
    font-weight: 510;
    opacity: 1;
    width: 40%;
  }
  .header .header-wrapper .main-title {
    margin-left: auto;
    margin-top: 2rem;
    font-weight: 410;
  }
}

@media (min-width: 960px) {
  .header .header-wrapper .subtitle,
  .header .header-wrapper .main-title {
    font-weight: 510;
  }
  .header .header-wrapper .subtitle {
    font-size: 3.5rem;
  }
  .header .header-wrapper .main-title {
    font-size: 2.5rem;
    font-weight: 410;
  }
}

@media (min-width: 1140px) {
  .gallery-item-card .card-description {
    font-size: 2.5rem;
    font-weight: 510;
  }
  .header .header-wrapper {
    padding: 0 5rem;
  }
  .header .header-wrapper .subtitle {
    font-size: 4rem;
  }
  .header .header-wrapper .main-title {
    font-size: 3rem;
  }
}

@media (min-width: 1450px) {
  .header .header-wrapper {
    padding: 0 8rem;
  }
  .header .header-wrapper .subtitle {
    font-size: 4.5rem;
  }
  .header .header-wrapper .main-title {
    font-size: 3.5rem;
  }
}

.video-link {
  width: 100%;
  height: 100vh;
  transform: scale(0.95);
}

.video-link .video-link-wrapper {
  position: relative;
}

.video-link .video-link-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-link .video-link-wrapper .video-footer-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem 2rem;
  opacity: 0;
}

.video-link .video-link-wrapper .video-footer-wrapper .subtitle {
  color: #fefefe;
  font-size: 0.8rem;
  font-weight: 510;
  margin-bottom: 0.5rem;
}

.video-link .video-link-wrapper .video-footer-wrapper .title {
  color: #fefefe;
  font-size: 2rem;
  font-weight: 510;
}

.main-gallery {
  padding: 2rem 0;
}

.main-gallery .main-gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 720px) {
  .video-link .video-link-wrapper .video-footer-wrapper {
    padding: 3rem 5rem;
  }
  .video-link .video-link-wrapper .video-footer-wrapper .subtitle {
    font-size: 1rem;
  }
  .video-link .video-link-wrapper .video-footer-wrapper .title {
    font-size: 2.5rem;
  }
  .main-gallery .main-gallery-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
  .main-gallery .main-gallery-wrapper .span-2 {
    grid-column: span 2;
  }
  .main-gallery .main-gallery-wrapper .span-3 {
    grid-column: span 3;
  }
  .main-gallery .main-gallery-wrapper .span-4 {
    grid-column: span 4;
  }
  .main-gallery .main-gallery-wrapper .span-6 {
    grid-column: span 6;
  }
}

.vimeo-video {
  margin: 5rem 0;
}

.vimeo-video .vimeo-video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 65%;
  background: #0a0a0a;
}

.vimeo-video .vimeo-video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vimeo-video .vimeo-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.vimeo-video .vimeo-video-wrapper iframe.vissible {
  opacity: 1;
}

.vimeo-video .vimeo-video-wrapper .vimeo-play-button {
  position: absolute;
  display: block;
  overflow: hidden;
  text-indent: -9000px;
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  cursor: url("./img/play-cursor.png"), auto;
  background-color: transparent;
  border: none;
}

@media (min-width: 960px) {
  .video-link .video-link-wrapper .video-footer-wrapper .title {
    font-size: 3rem;
  }
}

@media (min-width: 1140px) {
  .video-link .video-link-wrapper .video-footer-wrapper {
    padding: 3rem 7rem;
  }
  .video-link .video-link-wrapper .video-footer-wrapper .subtitle {
    font-size: 1.2rem;
  }
  .video-link .video-link-wrapper .video-footer-wrapper .title {
    font-size: 5rem;
  }
}

.sub-header {
  padding-left: 2rem;
}

.sub-header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.sub-header h3 span {
  position: relative;
}

.sub-header h3 span a {
  color: #0a0a0a;
}

.sub-header h3 span:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #0a0a0a;
  transition: opacity 0.3s ease-in-out;
}

.sub-header h3 span:hover:after {
  opacity: 0;
}

.showcase {
  margin: 2.5rem 0;
}

.showcase .showcase-image-wrapper img {
  width: 100%;
}

.paragraph-section {
  margin: 2.5rem 0;
}

.paragraph-section .paragraph-section-wrapper p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  opacity: 0.7;
  line-height: 1.5;
}

.culture-gallery-section {
  margin: 3rem 0;
}

.culture-gallery-section .culture-gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.culture-gallery-section .culture-gallery-wrapper .culture-gallery-image {
  width: 100%;
  height: 100%;
}

@media (min-width: 720px) {
  .paragraph-section .paragraph-section-wrapper {
    padding: 0 20%;
  }
  .paragraph-section .paragraph-section-wrapper p {
    margin-bottom: 1.5rem;
  }
  .culture-gallery-section .culture-gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .culture-gallery-section .culture-gallery-wrapper .culture-gallery-image.row-span-2 {
    grid-row: span 2;
  }
}

@media (min-width: 960px) {
  .paragraph-section .paragraph-section-wrapper {
    padding: 0 25%;
  }
  .paragraph-section .paragraph-section-wrapper p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1040px) {
  .paragraph-section .paragraph-section-wrapper p {
    font-size: 1.2rem;
  }
}
